[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.2"
pymongo = "==4.6.2"
python-dotenv = "==1.0.1"
flask = "*"
requests = "*"
websockets = "*"
pygame = "*"
flask-socketio = "*"
pywebview = "*"
flask-cors = "*"
flask-restful = "*"
websocket-client = "*"

[dev-packages]

[requires]
python_version = "3.11"
