<!-- file: templates/rewards.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My React App</title>
    <script type="module" src="bundle.js"></script>
</head>
<body>
    <!-- Root element for React rendering -->
    <div id="root"></div>

    <!-- Include React library -->
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

    <!-- Include your JavaScript file (e.g., index.js) -->
    <script  type="module" src="../static/index.js"></script>
</body>
</html>

