.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.trophy {
  /* Set initial position and size */
  width: 100px;
  height: auto;

  /* Apply animation */
  animation: rotateTrophy 1s linear infinite alternate; /* Rotate back and forth */
}

@keyframes rotateTrophy {
  /* Define animation keyframes */
  0% {
    transform: rotate(-5deg); /* Rotate slightly to the left */
  }
  100% {
    transform: rotate(5deg); /* Rotate slightly to the right */
  }
}

/* Styles for the game over text */
#game-over {
  font-family: Arial, sans-serif;
  font-size: 24px;
  white-space: nowrap; /* Prevent line breaks */
  overflow: hidden; /* Hide overflowing text */
  border-right: 1px solid black; /* Create the typing cursor */
  animation: typing 2s steps(20) forwards; /* Animation to simulate typing */
}

/* Keyframes for the typing animation */
@keyframes typing {
  from {
    width: 0; /* Start with no width (text hidden) */
  }
  to {
    width: 100%; /* End with full width (text fully displayed) */
  }
}


